<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title><%=title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="<%=title%>">
    <meta property="og:site_name" content="Node Function Manager">
    <meta property="og:description" content="Share Functions not Modules">
    <meta name="twitter:title" content="<%=title%>">
    <meta name="twitter:description" content="Node Function Manager: Share Functions not Modules">
    <meta property="og:locale" content="en_US">
    <meta charset="UTF-8">
    <meta name="application-name" content="Node Function Manager">
    <link rel="alternate" href="https://nfuncm.github.io/" hreflang="x-default">
    <link rel="alternate" href="https://nfuncm.github.io/" hreflang="en">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/site.css">
  </head>
  <body>
